main {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: visible;

    color: #313131;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.map-container {
    width: 70%;
}
.country-info {
    border-style: solid;
    border-radius: 10px;
    width: 25%;
}
.table {
    background-color: #d6d6d6;
    width: 25rem;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 30px 15px 15px 0px rgba(0, 0, 0, 0.485);
}
.table, td {
    font-weight: bold;
    padding-right: 15px;
}
.table, tr {
    font-weight: lighter;
    color: #646060
}

path {
    /* fill: #094109; */
    fill: #a9a9a9;
    stroke: #20171732;
}

path:hover {
    stroke: #d6d6d6;
    fill: #1d0c0c6c;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    transition: all 0.04s ease;
}